{{#each this}}
<div class="country-info__wrapper">
  <p class="country-info__title">{{name}}</p>
  <p class="country-info__capital">Capital: {{capital}}</p>
  <p class="country-info__population">Population: {{population}}</p>
  <ul class="country-info__language-list">Languages: {{#each languages}}
    <li class="country-info__language-list-item">{{this.name}}</li>
    {{/each}}
  </ul>
</div>
<div class="country-info__flag-wrapper">
  <img class="country-info__flag" src="{{flag}}" alt="{{name}}" width="400" height="200">
</div>
{{/each}}